<div>
  <div>
    <h2>
      Wallet information
    </h2>
    <div>
      <div>

        <div>
          Balance
        </div>
        <div>
          <%= number_to_currency(@wallet.balance) %>
        </div>
    </div>
  </div>
</div>
