<h2>
  WithdrawalTransaction
</h2>

<table>
  <tr>
    <th>ID</th>
    <th>金額</th>
    <th>取引日時</th>
  </tr>
  <% @withdrawal_transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.id %></td>
      <td><%= transaction.amount %></td>
      <td><%= transaction.transaction_time %></td>
    </tr>
  <% end %>
</table>
