<h2>
  Issue
</h2>

<div>
  <div>
    Wallet Balance
  </div>
  <div>
    <%= number_to_currency(current_user.wallet.balance) %>
  </div>
</div>

<%= form_with scope: :stable_coin, url: stable_coins_path do |form| %>
  <div>
    <%= form.number_field :amount, placeholder: "amount", required: true %>
    <%= form.submit "Issue" %>
  </div>
<% end %>

